
<div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
      <div class="col-sm-6 shadow round pb-3">
        <h1 class="text-center pt-3 text-secondary">Registration</h1>
          <form [formGroup]="exform">
              <div class="form-group">
                <label class="col-form-label">First Name:</label>
                <input formControlName="firstname" type="text" class="form-control">
                <small *ngIf="firstname.invalid && firstname.touched" class="text-danger">First Name is Required</small> 
              </div>
              <div class="form-group">
                <label class="col-form-label">Last Name:</label>
                <input formControlName="lastname" type="text" class="form-control">
                <small *ngIf="lastname.invalid && lastname.touched" class="text-danger">LastName is Required</small> 
              </div>
              <div class="form-group">
                <label class="col-form-label">Email:</label>
                <input formControlName="email" type="email" class="form-control" >
                <small *ngIf="email.invalid && email.touched" class="text-danger">Email is Required</small>
              </div>
              <div class="form-group">
                <label class="col-form-label">Phone:</label>
                <input formControlName="phone" type="number" class="form-control" >
                <small *ngIf="phone.invalid && phone.touched" class="text-danger">Phone no is Required(minimum length 10,numbers are only allowed)</small>
              </div>
              
              <button (click)="clicksub()" [disabled]="exform.invalid" type="button" class="btn btn-primary">SignUp</button>
              <button type="submit" class="btn btn-primary">{{EventValue}}</button>  


              <div class="row">  
                <table>  
                  <tr>  
                    <td>firstname</td>  
                    <td>lastname</td>  
                    <td>email</td>  
                    <td>phone</td>  
                
                  </tr>  
                
                  <tr *ngFor="let d of data">  
                    <td>{{d.firstname}}</td>  
                    <td>{{d.lastname}}</td>  
                    <td>{{d.email}}</td>  
                    <td>{{d.phone}}</td>  
                  </tr>  
                </table>  
              </div>  
            </form>
      </div>
  </div>
</div>