

<form [formGroup]="form" (ngSubmit)="submit()">
  
      
  <label for="userid">User ID</label>
  
  <input  placeholder="Enter User ID" formControlName="userid" type="text" class="form-control">
  <div *ngIf="f['userid'].touched && f['userid'].invalid" class="alert alert-danger">
      <div *ngIf="f['userid'].errors && f['userid'].errors['required']">Userid is required.</div>
  </div><br>

  <label for="password">Password</label>

  <input type="password" placeholder="Enter Password" formControlName="password"id="password" type="text" class="form-control">
  <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
      <div *ngIf="f['password'].errors && f['password'].errors['required']">password is required.</div>
      <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Name should be 6 character.</div>
  </div><br>

<br>

  
  <button type="submit"  [disabled]="form.invalid" >Login</button>
  


</form>