
<!DOCTYPE html> 
<html>
<h1>Bus Booking Reservation System </h1>

  <body>
    <div class="top">
      <ul class="nav nav-tabs">
        <li> <a routerLink="home" routerLinkActive="active"> Home </a></li></ul>
        
       <ul class=" nav nav-tabs">
        <a routerLink="My_DashBoard" routerLinkActive="active">My_DashBoard</a><br></ul>
    <div style="padding: 25px;">
      
      <li> <a routerLink="Payment" routerLinkActive="active">Payment Details</a></li>
     
     
      <li> <a routerLink="ticketbookings" routerLinkActive="active">Ticket Booking</a></li>
      
       <li><a routerLink="ticketfare" routerLinkActive="active">Ticket Fare</a></li>
    </div>
    
  </div>
  </body>
</html>


<router-outlet></router-outlet>
