<html>
  <body>


    <div class="row">
      <div class="col-75">
        <div class="container">
          <form action="a">
    
            <div class="row">
              
    
              <div class="col-50">
               
               
    <label for="Bus_Id">BusId:</label>
    <input class="Bus_Id" type="number" placeholder="BusId" name="Bus_Id"><br>          

    <label for="Bus_Name">BusName:</label>
     <input class="Bus_Name" type="text" placeholder="BusName" name="Bus_Name"><br> 
     <!-- <select name="Bus_Name" id="names"> 
        <option value="VRL">VRL Bus</option>
        <option value="RedBus">Red Bus</option>
        
        <option value="VijayaMotors">Vijaya Motors</option>
       
      
    </select>  -->
    <br> 

     <label for="Source">Source:</label>
      <input type="text" placeholder="Source" name="Source"><br> 
     <!-- <select name="Source" id="Source">
        <option value="Bangalore">Bangalore</option>
        <option value="Mysore">Mysore</option>
        
        <option value="Kolkata">Kolkata</option>
        
     </select> -->
    

     <label for="Destination">Destination:</label>
      <input type="text" placeholder="Destination" name="Destination"> 
     <!-- <select name="Destination" id="Destination">
        <option value="Pune">Pune</option>
        <option value="AndhraPradesh">Andhra Pradesh</option>
        <option value="Punjab">Punjab</option>
       
     </select> -->
   <br>

   

   <label class="Arrival_time" for="Arrival_Time"><b>Arrival Time :</b></label>
   <input type="time" placeholder="Arrival time" name="Arrival time"><br>

   <label class="Departure_time" for="Departure_Time"><b>Departure Time :</b></label>
   <input type="time" placeholder="DepartureTime" name="DepartureTime"><br>

    </div>
    
            </div>
            
            <br>
              <div class="btn">
                <input type="button" class="btn" (click)="navigatebooking()" value="Search" />
              </div>
            
          </form>
        </div>
      </div>
    </div>
  </body>
</html>