.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
    
  }
  
  
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  
  
  .btn{
     text-align: center;
  } 
  
  
    .row {
      flex-direction: column-reverse;
    }
  
    h3
    {
      text-align: center;
    }
    .custom-select {
      position: relative;
      font-family: Arial;
    }
    
    /* .custom-select select {
      display: none; /hide original SELECT element:/
    } */
    
    /* .select-selected {
      background-color: DodgerBlue;
    } */
    
    /* /style the arrow inside the select element:/
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    } */
    
    /* /point the arrow upwards when the select box is open (active):/
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
    
    /style the items (options), including the selected item:/
    .select-items div,.select-selected {
      color: #ffffff;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      user-select: none;
    }
    
    /style items (options):/
    .select-items {
      position: absolute;
      background-color: DodgerBlue;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    } */
    
    /* /hide the items when the select box is closed:/
    .select-hide {
      display: none;
    } */
    
    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
    body
    {
      text-align: center;
    }
  
  /* body{
      background-color: gray;
      text-align: center;
  }
   */
  h2
  {
    text-decoration-color: brown;
  }