<html>
  <body>


    <div class="row">
      <div class="col-75">
        <div class="container">
          <form action="a">
    
            <div class="row">
              
    
              <div class="col-50">
               
               
                

    <label for="BusName">BusName:</label>
    <!-- <input class="Busname" type="text" placeholder="BusName" name=" Name"><br> -->
    <select name="BusName" id="names"> 
        <option value="VRL">VRL Bus</option>
        <option value="RedBus">Red Bus</option>
        <option value="SRS">SRS Travels</option>
        <option value="Vijaya">Vijaya Motors</option>
        <option value="Irawata">Irawata Bus</option>

      
    </select> <br> <br>

     <label for="Source">Source:</label>
     <!-- <input type="Source" placeholder="Source" name="Source"><br> -->
     <select name="Source" id="Source">
        <option value="Bangalore">Bangalore</option>
        <option value="Mysore">Mysore</option>
        <option value="Kerala">Kerala</option>
        <option value="Kolkata">Kolkata</option>
        <option value="Hyadarabad">Hyadarabad</option>
     </select>
    <br><br>

     <label for="Destination">Destination:</label>
     <!-- <input type="text" placeholder="Destination" name="Destination"> -->
     <select name="Destination" id="Destination">
        <option value="Pune">Pune</option>
        <option value="AndhraPradesh">Andhra Pradesh</option>
        <option value="Punjab">Punjab</option>
        <option value="Assam">Assam</option>
        <option value="Odisha">Odisha</option>
     </select>
   <br><br>

   

   <label class="Arrivaltime" for="Time"><b>Arrival Time :</b></label>
   <input type="time" placeholder="NextBus" name="NextBus"><br><br>

     <label class="DateOfJourney" for="DateOfJourney"><b>Date Of Journey :</b></label>
     <input type="date" placeholder="DateOfJourney" name="DateOfJourney"><br><br>

     <label  class="DateOfReturn" for="DateOfReturn"><b>Date Of Return :</b></label>
     <input type="date" placeholder="DateOfReturn" name="DateOfReturn">  <br>  
     
    <br> <button class="btn"  type="button" >search</button>
          
                 
              </div>
    
            </div>
            
            <br>
              <div class="btn">
               
              </div>
            
          </form>
        </div>
      </div>
    </div>
  </body>
</html>