<html>
  <body>

<div><h3>Ticket Bookings</h3></div>
<div>
    <label for="Ticket Booking"></label>
    <input type="number" placeholder="Booking id" name="Ticket Booking"><br><br>

    <label for="Booking Date"></label>
    <input type="date" placeholder="Booking Date" name=" Booking Date"><br><br>

     <label for="Booking Place"></label>
     <input type="text" placeholder="Booking Place" name="Booking Place"><br><br>

     <label for="Ticket type"></label>
     <input type="text" placeholder="SeatType" name="Ticket Type"><br><br>
     <select name="SeatType" id="SeatType">
       
        <option value="WindowSide" >WindowSideSeat</option>
        <option value="3 Seater" >3 Seater</option>
        <option value="Sleeper">Sleeper</option>
        <option value="AC">AC </option>
        <option value="FirstClass">FirstClass</option>
        <option value="SecondClass">SecondClass</option>
     </select>
    <br><br>

    <label for="SeatNumber"></label>
    <input type="number" placeholder="SeatNumber" name=" SeatNumber"><br><br>

     <label for="BusNumber"></label>
     <input type="number" placeholder="BusNumber" name="BusNumber"><br><br>
   
    <u name="Booking Description:">Booking Description:</u>
     <p>Online Bus Ticket Reservation System is a Web based application that works within a centralized network. 
        This project presents a review on the software program "Online Bus Ticket Reservation System" as should be
         used in a bus transportation system, a facility which is used to reserve seats, 
         cancellation of reservation and different types of route enquiries used on securing quick reservations.</p>
         
        
</div>
</body>
</html>
