<div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
      <div class="col-sm-6 shadow round pb-3">
        <h1 class="text-center pt-3 text-secondary">Sign Up</h1>
          <form [formGroup]="exform">
              <div class="form-group">
                <label class="col-form-label">First Name:</label>
                <input formControlName="firstname" type="text" class="form-control">
                <small *ngIf="firstname.invalid && firstname.touched" class="text-danger">First Name is Required</small> 
              </div>
              <div class="form-group">
                <label class="col-form-label">Last Name:</label>
                <input formControlName="lastname" type="text" class="form-control">
                <small *ngIf="lastname.invalid && lastname.touched" class="text-danger">LastName is Required</small> 
              </div>

              <div class="form-group">
                <label class="col-form-label">Phone:</label>
                <input formControlName="phone" type="text" class="form-control" >
                <small *ngIf="phone.invalid && phone.touched" class="text-danger">Phone no is Required(minimum length 10,numbers are only allowed)</small>
              </div>
              
              <div class="form-group">
                <label class="col-form-label">Email:</label>
                <input formControlName="email" type="text" class="form-control" >
                <small *ngIf="email.invalid && email.touched" class="text-danger">Email is Required</small>
              </div>

              <div class="form-group">
                <label class="col-form-label">Password:</label>
                <input formControlName="password" type="text" class="form-control" >
                <small *ngIf="password.invalid && password.touched" class="text-danger"> password is Required</small>
              </div>

              
              <div class="form-group">
                <label class="col-form-label">Confirm Password:</label>
                <input formControlName="cp" type="text" class="form-control" >
                <small *ngIf="cp.invalid && cp.touched" class="text-danger"> password is Required</small>
              </div>

              <br>
              <div class=btn>
               
              </div>
             
              <input type="button" class="btn" (click)="navigatelogin()" value="Sign Up" />
              <input type="button" class="btn2" (click)="navigatehome()" value="Cancel" />
            </form>
      </div>
  </div>
</div>