<html>
   <body>

<div><h3>Upcomming Buses</h3></div>
<div>
    <label for="BusNumber"></label>
    <input type="number" placeholder="BusNumber" name="Buses"><br><br>

    <label for="BusName"></label>
    <input type="text" placeholder="BusName" name=" Name">
    <select name="BusName" id="names">
        <option value="VRL">VRL Bus</option>
        <option value="RedBus">Red Bus</option>
        <option value="SRS">SRS Travels</option>
        <option value="Vijaya">Vijaya Motors</option>
        <option value="Irawata">Irawata Bus</option>
     </select>
   <br><br>

     <label for="From"></label>
     <input type="text" placeholder="From" name="From">
     <select name="From" id="From">
        <option value="Bangalore">Bangalore</option>
        <option value="Mysore">Mysore</option>
        <option value="Kerala">Kerala</option>
        <option value="Kolkata">Kolkata</option>
        <option value="Hyadarabad">Hyadarabad</option>
     </select>
    <br><br>

     <label for="To"></label>
     <input type="text" placeholder="To" name="To">
     <select name="To" id="To">
        <option value="Gujarat">Gujrat</option>
        <option value="AndhraPradesh">Andhra Pradesh</option>
        <option value="Punjab">Punjab</option>
        <option value="Assam">Assam</option>
        <option value="Odisha">Odisha</option>
     </select>
   <br><br>

     <label for="Time"><b>NextBus</b></label>
     <input type="time" placeholder="NextBus" name="NextBus"><br><br>


     <label for="arrival"><b>arrivaltime</b></label>
     <input type="time" placeholder="Arrival" name="DateOfJourney"><br><br>

     <label for="Departure"><b>ReachTime</b></label>
     <input type="time" placeholder="Destination" name="DateOfReturn">
</div>
</body>
</html>

