<html>
    <body>
<div>
    <h3>User Profile </h3>
</div>
<div>
    <label for="fname"></label>
    <input type="text" placeholder="First Name" name="fname"><br><br>

    <label for="lname"></label>
    <input type="text" placeholder="Last Name" name="lname"><br><br>
     <label for="mobile"></label>
     <input type="number" placeholder="Mobile" name="mobile"><br><br>
     <label for="Age"></label>
     <input type="number" placeholder="Age" name="Age"><br><br>

     <label for="Gender"></label>
     <input type="text" placeholder="Gender" name="Gender">
     <select name="To" id="To">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="Others">Others</option>
       
     </select>
    
    </div>
</body>
    </html>
