.bg{
    background-color: gray;
    padding: 10px; 
    margin: 10px;
    text-align: center;
    margin-left: 400px;
    margin-right: 500px;
}
.btn{
    
    background-color: lightskyblue;
}
.plan{
    
    
    color: green;
    text-align: center;
    font: size 80px;
    
}
marquee{
    text-shadow: 1px 1px rgb(205, 241, 44);
    color:rgb(86, 23, 231);
    text-indent: 100px;
    font-weight: bolder;
}