<body>

<div class="row">
  <div class="col-75">
    <div class="container">
      <form for="booking" [formGroup]="BookingForm" (ngSubmit)="Save()" >
        <div class="row">
          <div class="col-50">
         
            <h3>Make Reservation</h3>

            <label for="name">Booking_Id:</label>
            <input type="number" id="name" name="booking_Id" placeholder="BookingId" /><br />
            
            <label for="adr">Booking_Date:</label>
            <input type="date" id="address" name="addresss" placeholder="date" /><br />
            
            <label for="adr">Schedule_Id:</label>
            <input type="number" id="Schedule_Id" name="Schedule_Id" placeholder="ScheduleId" />
            <br />
            
            <label for="Amount">Amount:</label>
            <input type="number" id="Amount" name="Amount" placeholder="Amount" />
            <!-- <select name="cars" id="cars">
              <option value="banagalore">Bangalore</option>
              <option value="Mysore">Mysore</option>
              <option value="Kolkata">Kolkata</option>
              <option value="Mumbai">Mumbai</option>
            </select> -->

            <br />
            <label for="Email_Id">Email_Id:</label>
            <input type="email" id="Email_Id" name="Email_Id" placeholder="EmailId" /><br>
            <!-- <select>
              <option value="WindowSide">WindowSide</option>
              <option value="ThreeSeater">ThreeSeater</option>
              <option value="Sleeper">Sleeper</option>
              <option value="AC">AC</option>
              <option value="FirstClass">FirstClass</option>
              <option value="SecondClass">SecondClass</option>
            </select> -->
              <!-- <input type="button" class="btn" (click)="navigatepayment()" value="Pay" />     -->
           
                
                <label for="PhoneNumber">PhoneNumber</label>
                <input type="number" id="PhoneNumber" name="PhoneNumber" placeholder="PhoneNumber" /><br />
              
                  
              
          </div>
        </div>

        <br />
        <div class="btn"></div>
        
       
         <button (click)="clicksub('payment')"  type="button" class="btn btn-primary">Pay</button> 
         <div>
         <button type="submit" class="btn btn-primary">{{EventValue}}</button>  
        </div>
         <div class="row">  
          <table>  
            <tr>  
              <td>Booking_Id</td>  
              <td>Booking_Date</td>  
              <td>PhoneNumber</td>  
              <td>Amount</td>  
              <td>Schedule_Id</td>  
              <td>Email_Id</td>  
          
            </tr>  
          
            <tr *ngFor="let d of data">  
              <td>{{d.Booking_Id}}</td>  
              <td>{{d.Booking_Date}}</td>  
              <td>{{d.PhoneNumber}}</td>  
              <td>{{d.Schedule_Id}}</td>  
              <td>{{d.Amount}}</td>  
              <td>{{d.Email_Id}}</td>  
              
              
             
            </tr>  
          </table>  
        </div>  
      </form>
    </div>
  </div>
</div>
<div class=" text-center container">
  
</div>
</body>